h1{
  font-weight: 600;
  text-align: center;
}

.content{
  width: 800px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 3em;
  padding: 2em;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1em;
}
